{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}
    <h1>Créer une annonce</h1>

    {{ include('property/_form.html.twig') }}

    <a href="{{ path('property_index') }}">Retour</a>
{% endblock %}
